*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-primary: #23272a;
    --color-secondary: #ffffff;
    --color-bg-header: #2a5ee8;
    --color-bg-section: #f6f6f6;
    --color-accessory: #7289da;
}
body{
    background-color: var(--color-secondary);
    font-family: 'Noto Sans Linear B', sans-serif;
}
header{
    background-color: var(--color-bg-header);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
}
.button{
    color: black;
    background-color:var(--color-secondary);
    border-radius: 10px;
    margin: 10px;
}
ul{
    list-style: none;
}
a{
    color: var(--color-secondary);
    text-decoration: none;
    display: block;
    padding: 6px 10px;
    text-decoration: none;
}
.wave{
    background-image: url(../img/wave.svg);
    min-height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.03;

}
h2{
    margin-bottom: 20px;
}
.img-section{
    display: inline-block;
}

.even{
    background-color: var(--color-bg-section);
}
.section-content{
    width: 40%;
    padding: 30px 10px;
}
/* FLEX  */

.d-flex{
    display: flex;
    flex-flow:row wrap ;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.flex-center{
    justify-content: center;
}
.flex-start{
    justify-content: flex-start;
}
.flex-right{
    justify-content: right;
}
.flex-end{
    justify-content: flex-end;
}
.flex-between{
    justify-content: space-between;
}
.reverse-justify-center{
    flex-flow: row-reverse wrap;
}
.column-reverse{
    flex-flow: column-reverse wrap;
}
#hero{
    background-image: url(../img/jumbo.png);
    min-height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-secondary);
}

/* footer */

footer{
    background-color: var(--color-primary);
    color: var(--color-secondary);
}